@using SEGI.WEB.Core.Enums
@using SEGI.WEB.Core.ViewModels
@model InterfaceViewModel
@{
    ViewData["Title"] = "History";
    var media = "@media";


    string pageUrl = $"{Context.Request.Scheme}://{Context.Request.Host}//Home/History";
    ViewData["MetaImage"] = $"{Context.Request.Scheme}://{Context.Request.Host}//Files/Images/" + @Model?.FixedItem?.Logo_Dark;

    ViewData["MetaUrl"] = pageUrl;
}


<div x-data="{
search: false,
mobileMenu: false,
dropdown: false,
mobileDropdown: false,
}">
    <div class="fixed bottom-0 left-0 m-4 z-50" x-cloak>
        <a href="#"
           class="transition inline-flex items-center justify-center w-12 h-12 text-sm rounded-full bg-primary-600 text-white transform | hover:scale-90 | md:w-14 md:h-14"
           x-data="{ visible: false }"
           x-on:scroll.window="visible = window.scrollY >= window.innerHeight ? true : false"
           x-bind:class="visible ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
           x-on:click.prevent="window.scroll({ top: 0, left: 0, behavior: 'smooth' });"
           aria-label="Back to top">
            <i class="fas fa-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
    <div class="absolute z-50 top-0 left-0 w-full bg-white" x-bind:class="{
'fixed' : mobileMenu,
'absolute' : !mobileMenu
}">
        <div class="w-full | md:w-11/12 | lg:w-11/12 | xl:w-11/12 | 2xl:w-11/12 | 3xl:w-9/12 mx-auto py-5 flex items-center justify-between | lg:py-8">
            <div class="flex items-center px-8 | lg:px-4" data-aos="fade-y--sm">
                <a href="~/Home/Index"
                   class="inline-block relative transform | hover:scale-90">
                    <img src="~/Files/Images/@Model?.FixedItem?.Logo_Dark " alt="Craft 3" class="h-8 w-auto | lg:h-24">
                </a>
                <div class="ml-7" x-show="!search">
                    <div class="relative text-primary delay-900" data-aos="fade-y--sm">
                    </div>
                </div>
            </div>
            <div class="flex items-center pr-8 transform -translate-y-1 | xl:hidden">
                <a href="#" class="text-xl text-primary"
                   x-on:click.prevent="mobileMenu = mobileMenu ? false : true" aria-label="Navigation">
                    <i class="fal fa-bar transform transition" aria-hidden="true" x-bind:class="{
'fa-bars rotate-0' : !mobileMenu,
'fa-times rotate-90' : mobileMenu
}"></i>
                </a>
            </div>
            <div class="px-8 | lg:px-4 items-center space-x-7 hidden | xl:inline-flex">
                <div class="relative delay-100" data-aos="fade-y--sm">
                    <a href="~/Home/Index" class="text-primary tracking-tight underlined"
                       style="color:#173C82">
                        <span>
                            Home
                        </span>

                    </a>

                </div>
                <div class="relative delay-200" data-aos="fade-y--sm">
                    <a href="~/Home/AboutUs" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            About Us
                        </span>

                    </a>

                </div>
                <div class="relative delay-200" data-aos="fade-y--sm">
                    <a href="~/Home/History" class="text-primary tracking-tight underlined underlined--visible"
                       style="color:#173C82">
                        <span>
                            History
                        </span>

                    </a>

                </div>
                <div class="relative delay-300" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Sectors" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Sectors
                        </span>

                    </a>

                </div>
                <div class="relative delay-400" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Services" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Services
                        </span>

                    </a>

                </div>
                <div class="relative delay-500" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Projects" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Projects
                        </span>

                    </a>

                </div>
                <div class="relative delay-600" data-aos="fade-y--sm" x-show="!search">
                    <a href="Career.html" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Careers
                        </span>

                    </a>

                </div>
                <div class="relative delay-700" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/Sustinabilty" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Sustainability
                        </span>

                    </a>

                </div>
                <div class="relative delay-800" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/ContactUs" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            Contact Us
                        </span>

                    </a>

                </div>
                <div class="relative delay-900" data-aos="fade-y--sm" x-show="!search">
                    <a href="~/Home/News" class="text-primary tracking-tight underlined "
                       style="color:#173C82">
                        <span>
                            News
                        </span>
                    </a>
                </div>


            </div>
        </div>
    </div>

    <div class="fixed w-full h-full z-40 top-0 left-0 transition bg-primary flex items-center justify-center text-center opacity-0 pointer-events-none duration-500 | xl:hidden"
         x-cloak x-bind:class="{
'opacity-100 pointer-events-auto' : mobileMenu,
'opacity-0 pointer-events-none' : !mobileMenu
}">
        <div class="">
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-100" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Index" class="text-white text-xl underlined">
                    <span>
                        Home
                    </span>

                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-200" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/AboutUs" class="text-white text-xl underlined">
                    <span>
                        About Us
                    </span>

                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-200" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/History" class="text-white text-xl underlined">
                    <span>
                        History
                    </span>

                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-400" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Sectors" class="text-white text-xl underlined">
                    <span>
                        Sectors
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-500" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Services" class="text-white text-xl underlined">
                    <span>
                        Services
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-600" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Projects" class="text-white text-xl underlined">
                    <span>
                        Projects
                    </span>
                </a>
            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
'opacity-100 translate-y-0' : mobileMenu,
'opacity-0 translate-y-2' : !mobileMenu
}">
                <a href="~/Home/Careers" class="text-white text-xl underlined">
                    <span>
                        Careers
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
                        'opacity-100 translate-y-0' : mobileMenu,
                        'opacity-0 translate-y-2' : !mobileMenu
                        }">
                <a href="~/Home/Sustinabilty" class="text-white text-xl underlined">
                    <span>
                        Sustainability
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
                                                'opacity-100 translate-y-0' : mobileMenu,
                                                'opacity-0 translate-y-2' : !mobileMenu
                                                }">
                <a href="~/Home/ContactUs" class="text-white text-xl underlined">
                    <span>
                        Contact Us
                    </span>
                </a>

            </div>
            <div class="w-full mb-2 transform translate-y-2 transition opacity-0 delay-700" x-bind:class="{
                                                                        'opacity-100 translate-y-0' : mobileMenu,
                                                                        'opacity-0 translate-y-2' : !mobileMenu
                                                                        }">
                <a href="~/Home/News" class="text-white text-xl underlined">
                    <span>
                        News
                    </span>
                </a>

            </div>
            </a>
        </div>
    </div>
 
    <div class="w-11/12 mr-auto mt-32 mb-12 relative z-20 | lg:mt-48 lg:mb-20 lg:w-full max-w-5xl ">
      
     @if (Model?.Article != null && Model.Article.Any())
    {
            @foreach (var item in Model?.Article?.Where(x => x?.PageType == PageType.History && x?.SectionId == 1))
            {
                var rawDescription = item?.Description ?? "SEGI ENGINEERING GROUP INTERNATIONAL";
                var plainTextDescription = Regex.Replace(rawDescription, "<.*?>", ""); // Removes all HTML tags
                ViewData["MetaDescription"] = plainTextDescription;
                ViewData["MetaTitle"] = (item?.Title ?? "SEGI ENGINEERING GROUP INTERNATIONAL");
                <div class="w-full px-8 | lg:ml-20">

            <div class="w-full delay-100 aos-init aos-animate" data-aos="fade-y">
                <div class="max-w-lg">
                    <h2 class="font-sans-primary text-2xl | lg:text-4xl text-black font-semibold leading-tighter tracking-tight
                " data-uw-rm-heading="level" role="heading" aria-level="1" style="color: #1E347A;">
                        @item?.Title
                    </h2>
                </div>
            </div>
            <div class="w-full mt-1 | lg:mt-3 aos-init aos-animate" style="margin-top:4%;" data-aos="fade-y">
                <div class="font-sans-primary text-base | lg:text-md text-primary font-semibold leading-tighter tracking-tight"
                     style="color: #3E3E3E">
                     @item?.Description
                </div>
            </div>
        </div>
        }
        }
    </div>
  
    <!-- Start / Content  -->

    <div class="w-full  mb-100 py-0 | lg:py-16 | xl:py-24" id="578391">
        <div class="w-11/12 max-w-6xl mx-auto flex flex-col md:flex-row flex-wrap relative py-12 aos-init aos-animate"
             data-aos="fade-y">
            <div class="timeline-line"></div>
            @{
                int index = 0;
            }
            @foreach (var item in Model?.History ?? new List<HistoryViewModel>())
            {
                var isOdd = index % 2 == 0; // Check if index is even or odd
                var positionClass = isOdd ? "odd" : "even";
                var orderClass = isOdd ? "" : "order-2"; // Adjust order for even items
                var marginClass = isOdd ? "mt-12" : "md:-mt-12";
                var lineClass = isOdd ? "odd" : "even";

                <div class="flex flex-row w-full aos-init aos-animate" data-aos="fade-y">
                    <div class="p-0 w-full md:w-1/2 mb-8 md:mb-20 @marginClass @positionClass @orderClass">
                        <div class="flex flex-row">
                            <div class="w-1/6 pt-14 -mt-1 md:order-2">
                                <div class="line @lineClass"></div>
                            </div>
                            <div class="flex-1 px-6">
                                <div class="font-sans-primary text-2xl | lg:text-2xl text-primary-500 font-semibold leading-tighter tracking-tight">
                                    @(item.Year != null ? item?.Year : "Currently")
                                </div>
                                <div class="mt-4 mb-4">
                                    <div class="w-full -mb-6">
                                        <p class="w-full font-sans-primary leading-snug tracking-tight text-sm mb-6 lg:text-base text-gray-800">
                                            @item?.Description
                                        </p>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="relative overflow-hidden w-full" style="padding-top: 8.75%;">
                                        <img src="~/Files/Images/@item?.Image" alt="History Image"
                                             class="w-full h-full object-cover object-center"
                                             style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 hidden md:block"></div>
                </div>

                index++; // Increment index for next iteration
            }
             
 
                <div class="w-full md:w-1/2 hidden md:block" style=""></div>
            </div>



        </div>
    </div>
 
